.chart-container {
  max-width: 100%;
  width: 62.5rem;
  padding: 0 1rem;
  margin: 0 auto;

  min-height: calc(100vh - 70px - 200px);
}

.chart-container h2 {
  margin: 0;
  padding: 2.5rem 0;
}

.form-filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.group-input {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 1rem;
}

.group-input label {
  display: none;
}

.group-input select {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  font-family: Lato, sans-serif;
  font-size: 1rem;
}

.group-input input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  font-family: Lato, sans-serif;
}

.group-input button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.5rem;
  outline: none;
  font-family: Lato, sans-serif;
}

#ChartComponent {
  height: 25rem !important;
  width: 25rem !important;

  margin: 0rem auto;
}

.loading {
  position: fixed;
  top: 50%;
  left: calc(50% - 10rem);
  height: 10rem;
  width: 20rem;
  background: #020103;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
