footer {
  height: 70px;
  background-color: #8b52ff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  font-family: Lato;
  font-size: 1.2rem;
}

footer h4 {
  color: #fff;
  font-weight: 500;
}

.logo__xp {
  width: 7rem;
}
