* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #8b52ff;
  height: 200px;
  display: flex;
}

.imagem__grafico {
  /* max-width: 100%; */
  height: auto;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagem__virus {
  height: auto;
}

h1 {
  grid-row: 2/3;
  grid-column: 2/7;
  font-family: Lato;
  font-size: 3rem;
  color: white;
}
p {
  grid-row: 3/6;
  grid-column: 2/5;
  font-family: Roboto;
  font-size: 1.5rem;
  color: #c7b6e7;
  max-width: 50rem;
}
a {
  grid-row-start: 5;
  grid-column: 2/5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #39c2fe;
  border-radius: 25px;
  font-family: Lora;
  font-size: 1.2rem;
  text-decoration: none;
}
a:hover {
  grid-row-start: 5;
  grid-column: 2/5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid black;
  background-color: whitesmoke;
  color: black;
  border-radius: 25px;
  font-family: Lora;
  font-size: 1.2rem;
  text-decoration: none;
}
